.home {
  background-color: black;
  height: 80vh;
}
.homeContent {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: flex-end;
}
.homeContent h1 {
  font-family: Baskerville, serif;
  color: white;
  margin: 0;
}
.homeContent p {
  font-size: 20px;
  width: 30rem;
  padding: 5px;
  text-align: justify;
  color: white;
  /* margin: 0; */
  /* margin-left: 15px; */
}

.homeContent img {
  display: block;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  opacity: 0.8;
  border-radius: 5rem;
}

.homeContent .imageContainer {
  /* background: radial-gradient(red, green, blue); */
  /* background-image: url("../images/Sourima_cover2.jpg"); */
  background: linear-gradient(
      to bottom right,
      rgba(183, 205, 247, 0.52),
      rgba(29, 49, 59, 0.781),
      rgba(7, 16, 24, 0.945)
    ),
    url("../images/Sourima_cover2-1.jpg");
  height: 70vh;
  z-index: 2;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 3px;
}
#social {
  padding-left: 10px;
  margin-left: 5px;
}

#social #socialIcon {
  padding: 3px;
  margin: 3px;
}

#socialIcon:hover {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .homeContent {
    flex-direction: column; /* Change to a column layout for smaller screens */
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .homeContent p {
    text-align: center;
  }
}
